<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0) 0%, rgba(0,36,61,0.5) 80%), url(<%= image_path 'banner6.jpg' %>);">

  <div class="banner-content">


    <h1>Home</h1>

    <p> Join local events in: <span id="banner-typed-text"></span> </p>

    <a class="btn btn-primary btn-lg" href="/events">See events</a>
  </div>
</div>



