
<div class="gallery-container">

  <div class="gallery">

    <div class="frame">

      <img class="image" src="https://i1.wp.com/craves.everybodyshops.com/wp-content/uploads/Thanksgiving-dinner-planning.jpg?fit=1143%2C762"/>

      <div class="info">Thanksgiving Dinner</div>


    </div>



    <div class="frame"><img class="image" src="https://images.unsplash.com/photo-1452967712862-0cca1839ff27?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf7795a1be8eb3570d9b23c7f0f61bda&auto=format&fit=crop&w=1350&q=80"/>
      <div class="info">Steak Roast</div>
    </div>

    <div class="frame"><img class="image" src="https://images.unsplash.com/photo-1539586345401-51d5bfba7ac0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a523c8360ca9e602b00e14f47076497&auto=format&fit=crop&w=750&q=80"/>
      <div class="info">Seafood Time</div>
    </div>

    <div class="frame"><img class="image" src="https://images.unsplash.com/photo-1520756977789-ebed5554fb70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a2ece031243d39fc46c0f9b350eff8c&auto=format&fit=crop&w=750&q=80"/>
      <div class="info">Greek Party</div>
    </div>

    <div class="frame"><img class="image" src="https://images.unsplash.com/photo-1509680859026-7d8cfc6894f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d37b5b1bffd98e717ae399c479c50e5b&auto=format&fit=crop&w=750&q=80"/>
      <div class="info">Asia Night</div>
    </div>
  </div>
</div>
