
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="event">
    <div class="event-image" style="background: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url(<%= event.photo %>) center / cover no-repeat;"></div>
    <div class="event-content">
      <div class="event-title"><%= event.title %></div>
      <div class="event-location">
        <%= event.location %>
      </div>
      <div class="event-joining">
        <%= link_to "View Details", event_path(event), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


