
  <h1> Events </h1>
    <p> Check them out! </p>
  <!-- <div class="gallery-container"> -->
    <div class="gallery">
      <%  @events.each do |event|%>
      <div class="col-sm-4">

        <%= render event %>
      </div>
      <% end %>
    <!-- </div> -->
  </div>


