<%= render 'shared/banner' %>

<section>
  <div class="gallery-container">
    <div class="gallery">
      <%  @events.each do |event|%>
      <div class="col-sm-4">

        <%= render event %>
      </div>
      <% end %>
    </div>
  </div>
</section>
