.banner {
  color: white;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-position: center top;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  font-family: 'Lato', sans-serif;
  // text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.banner p {
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  // opacity: 0.6;
  margin-bottom: 30px;
}
